@import "../../../utilities";
.tools_container {
  width: 100%;
  min-height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .single_tool {
    width: 25%;
    min-height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      flex-direction: column;
      height: 100%;

      a {
        text-decoration: none;
        color: rgb(45, 134, 250);
        margin-left: 0;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        color: rgb(148, 147, 147);
        margin-left: 0;
      }

      & :not(:first-child) {
        margin-top: 20px;
        text-align: left;
      }
    }
  }
}
