.testimonials_container {
  max-height: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-content: center;
  position: relative;
}

.testimonials_container > :nth-child(1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: 700px;
}

.testimonials_container > :nth-child(1) > :nth-child(2) {
  margin-top: -200px;
}

.testimonials_container > :nth-child(1) span {
  color: white;
}

.testimonials_container > :nth-child(1) span h1 {
  color: white;
}

.testimonials_container > :nth-child(1) span h2 {
  text-align: left;
  font-weight: 350;
  max-width: 800px;
}

.testimonials_container > :nth-child(1) .numbers {
  margin-top: -100px;
}

.testimonials_container > :nth-child(1) .numbers span > h1 {
  font-size: 4rem;
  font-weight: 300;
}

.testimonials_container > :nth-child(1) .numbers span > h6 {
  margin-top: -20px;
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
}

.testimonials_container .testimonials {
  position: absolute;
  max-width: 1286px;
  z-index: 10;
  left: calc(50% - 643px);
  height: 400px;
  background: #8b64f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials_container .testimonials .img {
  min-width: 400px;
  height: 100%;
  background: black;
}

.testimonials_container .testimonials .information {
  margin-left: 20px;
  text-align: left;
}

.testimonials_container .testimonials .information :not(:first-child) {
  margin-top: 10px;
}

.testimonials_container .testimonials .information .testimonial {
  font-size: 1.8rem;
}

.testimonials_container .testimonials .information h2 {
  font-size: 1rem;
}

.testimonials_container .testimonials .testimonials_options_container {
  position: absolute;
  width: 100%;
  height: 40px;
  background: transparent;
  right: 0;
  top: 105%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

.testimonials_container .testimonials .testimonials_options_container .moreBtn {
  height: 50px;
  width: 180px;
  font-size: 1rem;
  font-weight: 300;
  padding: 20px;
  border-radius: 50px;
  background: transparent;
  outline: none;
  border: solid darkgray 1px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.testimonials_container .testimonials .testimonials_options_container .moreBtn:hover {
  background: #dfdfdf;
}

.testimonials_container .testimonials .testimonials_options_container .arrows_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials_container .testimonials .testimonials_options_container .arrows_container p {
  padding: 10px;
  color: #000;
}

.testimonials_container .testimonials .testimonials_options_container .arrows_container button {
  border: none;
  background: transparent;
  outline: none;
  color: #000;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

.testimonials_container .testimonials .testimonials_options_container .arrows_container button:hover {
  background: #eeeded;
}

.testimonials_container > :nth-child(3) {
  height: 700px;
  width: 100%;
  background: #fff;
}

.testimonials_container > :nth-child(3) > :nth-child(1) {
  height: 100%;
}

.testimonials_container > :nth-child(3) > :nth-child(1) h2 {
  width: 550px;
  text-align: left;
  font-weight: 400;
  margin-top: 300px;
}

.testimonials_container > :nth-child(3) > :nth-child(1) .logos_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.testimonials_container > :nth-child(3) > :nth-child(1) .logos_list li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
}

.customer_stories_container {
  width: 100%;
  background: #fff;
}

.customer_stories_container .customer_stories {
  height: 800px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.customer_stories_container .customer_stories > span p {
  font-size: 1.8rem;
  width: 700px;
  font-weight: 200;
  text-align: left;
}

.customer_stories_container .customer_stories .tools_container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 350px;
  margin-top: 50px;
}

.customer_stories_container .customer_stories .tools_container .single_tool {
  border: solid #cacaca 1px;
  padding: 20px;
  min-height: 400px;
  min-width: 33%;
  cursor: pointer;
}

.customer_stories_container .customer_stories .tools_container .single_tool:hover {
  border: solid gray 1px;
}

.customer_stories_container .customer_stories .tools_container .single_tool:hover span a,
.customer_stories_container .customer_stories .tools_container .single_tool:hover span h4 {
  color: #464646;
}

.customer_stories_container .customer_stories .tools_container .single_tool span {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer_stories_container .customer_stories .tools_container .single_tool span p {
  color: #464646;
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 100%;
}

.customer_stories_container .customer_stories button {
  position: relative;
  padding: 20px;
  top: 100px;
  background: transparent;
  outline: none;
  border: solid darkgrey 1px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 20px;
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
  font-weight: 300;
  cursor: pointer;
}

.customer_stories_container .customer_stories button:hover {
  background: #f4f4f4;
}
/*# sourceMappingURL=Testimonials.css.map */