@import "../../utilities";

.home_container {
  background: $bg;
  position: relative;
  padding-top: 100px;
  color: #fff;
  overflow-x: hidden;
  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  & > :nth-child(5) {
    margin-top: 50px;
  }

  h1 {
    text-align: left;
    max-width: $maxWidth;
    font-size: 2.5rem;
  }
  h3 {
    margin-top: 20px;
    text-align: left;
    font-size: 1.4rem;
    max-width: $maxWidth;
  }
}
