$bg: rgb(39, 40, 44);
$txtColor: rgb(133, 133, 133);
$sidePadding: 186px;
$lightBlue: rgb(52, 126, 246);
$maxWidth: 1286px;


@mixin getSidePadding {
  @media screen and (min-width: 3000px) {
    padding-left: 986px !important;
    padding-right: 986px !important;
  }
  @media screen and (min-width: 2400px) and (max-width: 2500px) {
    padding-left: 786px !important;
    padding-right: 786px !important;
  }
  @media screen and (min-width: 2300px) and (max-width: 2400px) {
    padding-left: 686px !important;
    padding-right: 686px !important;
  }

  @media screen and (min-width: 2200px) and (max-width: 2300px) {
    padding-left: 586px !important;
    padding-right: 586px !important;
  }

  @media screen and (min-width: 2100px) and (max-width: 2200px) {
    padding-left: 486px !important;
    padding-right: 486px !important;
  }

  @media screen and (min-width: 2000px) and (max-width: 2100px) {
    padding-left: 386px !important;
    padding-right: 386px !important;
  }

  @media screen and (min-width: 1900px) {
    padding-left: 286px;
    padding-right: 286px;
  }
  @media screen and(max-width: 1899px) {
    padding-left: 200px;
    padding-right: 200px;
  }
}
// @mixin ignorePadding {
//   @media screen and (min-width: 3000px) {
//     margin-left: -986px !important;
//   }
//   @media screen and (min-width: 2400px) and (max-width: 2500px) {
//     margin-left: -786px !important;
//   }
//   @media screen and (min-width: 2300px) and (max-width: 2400px) {
//     margin-left: -686px !important;
//   }
//   @media screen and (min-width: 2200px) and (max-width: 2300px) {
//     margin-left: -586px !important;
//   }
//   @media screen and (min-width: 2100px) and (max-width: 2200px) {
//     margin-left: -486px !important;
//   }
//   @media screen and (min-width: 2000px) and (max-width: 2100px) {
//     margin-left: -386px !important;
//   }
//   @media screen and (min-width: 1900px) {
//     margin-left: -286px;
//   }
//   @media screen and(max-width: 1899px) {
//     margin-left: -186px;
//   }
// }

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bo {
  border: solid red;
}
